.footer {
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.5);
    padding: 20px;
    &__wrapper {
        width: 1120px;
        margin: 0 auto;
    }
    &__information {
        display: flex;
        justify-content: space-around;
    }
    &__detail {
        p {
            color: #000;
            font-weight: 600;
            margin: 0;
        }
    }
    &__information__link {
        list-style-type: none;
        padding: 0;
        li {
            margin: 10px 0 10px 0;
        }
    }
}
.link {
    text-decoration: none;
    color: #000;
}
