.text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.body {
    &__input {
        margin-bottom: 20px;
    }
}
.modal {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 60;
}
@media screen and (min-width: 768px) {
    .text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
}
@media screen and (min-width: 1024px) {
    .text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
}
@media screen and (min-width: 1280px) {
    .text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
}
