.item {
  background-color: red;
  width: 416px;
  padding: 15px 25px;
  &__text {
    display: flex;
    flex-direction: column;
    &__label {
      font-size: 18px;
      font-weight: 500;
    }
    &__description {
      font-size: 14px;
      margin-top: 14px;
    }
  }
}
