.qr {
    display: flex;
    flex-direction: column;
    &__block {
        margin: 0 auto 0;
        // max-width: 220px;
        padding: 25px;
        background-color: #1e4a91;
        border-radius: 15px;
        @media (min-width: 768px) {
            margin: 0 auto 0;

            // max-width: 500px;
        }
    }
}
