.qr {
    display: flex;
    flex-direction: column;
    &__block {
        margin: 10px auto 0;
        max-width: 220px;
        padding: 15px;
        background-color: #1e4a91;
        border-radius: 15px;
        @media (min-width: 768px) {
            max-width: 500px;
        }
        @media (min-width: 1024px) {
            max-width: 500px;
        }
        @media (min-width: 1280px) {
            max-width: 500px;
        }
    }
}
