.list {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        justify-content: center;
        gap: 20px;
        padding: 100px;
    }
}
.pagination {
    margin: 0 auto;
}
