.btn {
    cursor: pointer;
    // text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background-color: black;
    padding: 10px 15px;
    color: #ffffff;
    appearance: none;
    width: 100%;
    height: 48px;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 0.5;
}
.btn__inactive {
    cursor: pointer;
    font-size: 22px;
    border: none;
    background-color: #424245;
    padding: 10px 15px;
    color: #ffffff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    height: 100%;
    width: 120px;
    appearance: none;
    margin: 0 15px 10px 15px;
}
