.label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.container {
    position: relative;
    width: 100%;
    min-height: 48px;
    border: 2px solid #b3b3b3;
    display: flex;
    align-items: center;
    padding: 10px 35px 10px 15px;
    border-radius: 6px;
    outline: none;
}

.container:focus {
    border-color: #000;
}

.value {
    flex-grow: 1;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    padding-right: 30px;
}

.clear-btn {
    font-family: "Montserrat", sans-serif;
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
    display: flex;
    align-items: center;

    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    padding: 5px;
}
.arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
}
.clear-btn:focus,
.clear-btn:hover {
    color: #333;
}

.divider {
    background-color: #777;
    align-self: stretch;
    width: 1px;
    margin-right: 10px;
}

.caret {
    display: flex;
    align-items: center;
}
.optionsnot {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    max-height: 15em;
    overflow-y: auto;
    border: 2px solid #b3b3b3;
    border-radius: 6px;
    width: 100%;
    left: 0;
    top: calc(100% + 5px);
    background-color: white;
    z-index: 100;
}
.options {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    border: 2px solid #b3b3b3;
    border-radius: 6px;
    width: 100%;
    left: 0;
    top: calc(100% + 55px);
    background-color: white;
    z-index: 100;
}
.optionsTag {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    border: 2px solid #b3b3b3;
    border-radius: 6px;
    width: 100%;
    left: 0;
    top: calc(100% + 55px);
    background-color: white;
    z-index: 100;
    height: 274px;
    overflow: auto;
}
.inp {
    position: absolute;
    // display: none;
    // max-height: 15em;
    width: 100%;
    left: 0;
    top: calc(100% + 5px);
    background-color: white;
    z-index: 100;
}

.options.show {
    display: block;
}

.option {
    padding: 0.25em 0.5em;
    cursor: pointer;
}
.option:hover {
    background-color: #87a3cc;
    color: white;
}
.option {
    padding: 0.25em 0.5em;
    cursor: pointer;
}
.option.selected {
    background-color: #325ea552;
}
.option.selected:hover {
    background-color: #87a3cc;
    color: white;
}

.option.highlighted {
    background-color: #87a3cc;
    color: white;
}

.option-badge {
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid #b3b3b3;
    border-radius: 6px;
    padding: 2px 4px;
    gap: 5px;
    background: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    // letter-spacing: 1.5px;
    font-weight: 500;
}
.remove-btn {
    display: flex;
    align-items: center;
}
.tag {
    background-color: rgba(50, 94, 165, 0.33);
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    margin: 0 10px 10px 0;
    &__color {
        width: 10px;
        height: 10px;
        background: #1e4a91;
        border-radius: 50%;
    }
    &__name {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.5px;
        font-weight: 600;
        color: #000;
        margin-left: 10px;
    }
}
.placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    // letter-spacing: 0.5px;
    color: #b3b3b3;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
