.input {
    &__label {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__input {
        width: 100%;
        height: 48px;
        padding: 10px 35px 10px 15px;
        border: none;
        border: 2px solid #b3b3b3;
        border-radius: 6px;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #000;
    }
    &__input:hover {
        border: 2px solid #000;
        outline: none;
    }
    &__input:focus {
        border: 2px solid #000;
        outline: none;
    }
    &__group {
        position: relative;
        width: 100%;
    }
    &__icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        padding: 5px;
    }
}
